{
  "presets": ["react-native"],
  "plugins": [
    "transform-react-jsx-source",
    "transform-decorators-legacy",
    ["import", {
      "libraryName": "antd-mobile"
    }]
  ],
  "env": {
   "production": {
     "plugins": ["transform-remove-console"]
   }
 }
}
